<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.hope.dao.HelpDao">
    <resultMap id="BaseResultMap" type="com.example.hope.bean.Help">
        <id column="help_id" property="helpId" jdbcType="INTEGER"/>
        <id column="act_id" property="actId" jdbcType="INTEGER"/>
        <id column="user_id" property="userId" jdbcType="INTEGER"/>
    </resultMap>

    <parameterMap id="Help" type="com.example.hope.bean.Help"/>

    <select id="selectId" parameterMap="Help" resultType="int">
        select IFNULL(MAx(help_id),0) help_id from help_tb where act_id=#{actId} and user_id=#{userId}
    </select>

    <insert id="insert" parameterMap="Help">
        insert into help_tb(act_id,user_id)values (#{actId},#{userId})
    </insert>
</mapper>